#Eclipse: https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.factorypath
.buildpath
.target
.texlipse
local/lib/classes/config.ini
*tags
.vimrc

# PHPStorm
.idea/